<!DOCTYPE html>
<html>
<head>
    <title>Clue-Less</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js></script>
    <link rel="stylesheet" href="../static/css/default.css">
</head>
<body>
    <table class="page-container">
        <tr>
            <td style="text-align: left;">
                <a href="{{ url_for('home') }}">
                    <img
                        id="homebutton"
                        alt="image"
                        src="static/assets/home_icon.png"
                        class="header-image button"
                    />
                </a>
            </td>
            <td>
                <h1 class="page-title">Clue-Less</h1>
            </td>
            <td style="text-align: right;">
                <img
                    alt="image"
                    src="static/assets/logo.png"
                    class="header-image"
                />
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center;">
                <a href="{{ url_for('findGame') }}">
                    <button
                        id="find_game_button"
                        class="button-style"
                    >
                        Find a Game
                    </button>
                </a>
            </td>
        </tr>
        
        <tr>
            <td colspan="3" style="text-align: center;">
                <a href="{{ url_for('createGame') }}">
                    <button
                        id="create_game_button"
                        class="button-style"
                    >
                        Create a New Game
                    </button>
                </a>
            </td>
        </tr>
    </table>
</body>
</html>