<!DOCTYPE html>
<html>
<head>
    <title>Clue-Less</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js></script>
    <script src="../../static/js/inGame.js"></script>
    <script src="../../static/js/asyncComm.js"></script>
    <link rel="stylesheet" href="../../static/css/default.css">
</head>
<body>
    <script>
    var gameId = {{gameId}};
    var startGame = {{startGame}};
    </script>
    <table class="page-container">
        <tr>
            <td style="text-align: left;">
                <a href="{{ url_for('home') }}">
                    <img
                        id="homebutton"
                        alt="image"
                        src="../../static/assets/home_icon.png"
                        class="header-image button"
                    />
                </a>
            </td>
            <td>
                <h1 class="page-title">Clue-Less</h1>
            </td>
            <td style="text-align: right;">
                <img
                    alt="image"
                    src="../../static/assets/logo.png"
                    class="header-image"
                />
            </td>
        </tr>
    </table>
    <table class="page-container">
        <tr>
            <td style="width: 85%;">
                <table id="gameBoard" style="table-layout: fixed; width: 100%;">
                    <tr>
                        <td class="outerBlockStyle"></td>
                        <td class="outerBlockStyle"></td>
                        <td class="outerBlockStyle"></td>
                        <td class="outerBlockStyle"></td>
                        <td id="sS" class="outerBlockStyle"></td>
                        <td class="outerBlockStyle"></td>
                        <td class="outerBlockStyle"></td>
                    </tr>
                    <tr>
                        <td class="outerBlockStyle"></td>
                        <td id="0" class="roomStyle">Study</td>
                        <td id="1" class="hallwayStyle">hallway</td>
                        <td id="2" class="roomStyle">Hall</td>
                        <td id="3" class="hallwayStyle">hallway</td>
                        <td id="4" class="roomStyle">Lounge</td>
                        <td class="outerBlockStyle"></td>
                    </tr>
                    <tr>
                        <td id="plumS" class="outerBlockStyle"></td>
                        <td id="5" class="hallwayStyle">hallway</td>
                        <td class="outerBlockStyle"></td>
                        <td id="6" class="hallwayStyle">hallway</td>
                        <td class="outerBlockStyle"></td>
                        <td id="7" class="hallwayStyle">hallway</td>
                        <td id="mS" class="outerBlockStyle"></td>
                    </tr>
                    <tr>
                        <td class="outerBlockStyle"></td>
                        <td id="8" class="roomStyle">Library</td>
                        <td id="9" class="hallwayStyle">hallway</td>
                        <td id="10" class="roomStyle">Billard Room</td>
                        <td id="11" class="hallwayStyle">hallway</td>
                        <td id="12" class="roomStyle">Dining Room</td>
                        <td class="outerBlockStyle"></td>
                    </tr>
                    <tr>
                        <td id="peaS" class="outerBlockStyle"></td>
                        <td id="13" class="hallwayStyle">hallway</td>
                        <td class="outerBlockStyle"></td>
                        <td id="14" class="hallwayStyle">hallway</td>
                        <td class="outerBlockStyle"></td>
                        <td id="15" class="hallwayStyle">hallway</td>
                        <td class="outerBlockStyle"></td>
                    </tr>
                    <tr>
                        <td class="outerBlockStyle"></td>
                        <td id="16" class="roomStyle">Conservatory</td>
                        <td id="17" class="hallwayStyle">hallway</td>
                        <td id="18" class="roomStyle">Ballroom</td>
                        <td id="19" class="hallwayStyle">hallway</td>
                        <td id="20" class="roomStyle">Kitchen</td>
                        <td class="outerBlockStyle"></td>
                    </tr>
                    <tr>
                        <td class="outerBlockStyle"></td>
                        <td class="outerBlockStyle"></td>
                        <td id="gS" class="outerBlockStyle"></td>
                        <td class="outerBlockStyle"></td>
                        <td id="wS" class="outerBlockStyle"></td>
                        <td class="outerBlockStyle"></td>
                        <td class="outerBlockStyle"></td>
                    </tr>
                </table>
            </td>
            <td id="playerNotes" style="width: 15%; border: solid 2px; background-color: lightgrey;">
                <h4>Who:</h4>
                <input type="checkbox" class="userNotes"><span>Mr. Green</span><br>
                <input type="checkbox" class="userNotes"><span>Col. Mustard</span><br>
                <input type="checkbox" class="userNotes"><span>Mrs. White</span><br>
                <input type="checkbox" class="userNotes"><span>Mrs. Peacock</span><br>
                <input type="checkbox" class="userNotes"><span>Prof. Plum</span><br>
                <input type="checkbox" class="userNotes"><span>Miss Scarlet</span><br>
                
                <h4>What:</h4>
                <input type="checkbox" class="userNotes"><span>Candlestick</span><br>
                <input type="checkbox" class="userNotes"><span>Dagger</span><br>
                <input type="checkbox" class="userNotes"><span>Lead Pipe</span><br>
                <input type="checkbox" class="userNotes"><span>Revolver</span><br>
                <input type="checkbox" class="userNotes"><span>Rope</span><br>
                <input type="checkbox" class="userNotes"><span>Wrench</span><br>

                <h4>Where:</h4>
                <input type="checkbox" class="userNotes"><span>Ballroom</span><br>
                <input type="checkbox" class="userNotes"><span>Billiard Room</span><br>
                <input type="checkbox" class="userNotes"><span>Conservatory</span><br>
                <input type="checkbox" class="userNotes"><span>Dining Room</span><br>
                <input type="checkbox" class="userNotes"><span>Hall</span><br>
                <input type="checkbox" class="userNotes"><span>Kitchen</span><br>
                <input type="checkbox" class="userNotes"><span>Library</span><br>
                <input type="checkbox" class="userNotes"><span>Lounge</span><br>
                <input type="checkbox" class="userNotes"><span>Study</span><br>
            </td>
        </tr>
    </table>
    <table class="page-container">
        <tr>
            <td style="width: 50%; border: solid 2px;">
                <h4>Player actions:</h4>
                <p>Player movement:
                    <select name="move_player_select" id="move_player_select">
                        <option>--none selected--</option>
                        <option>Up</option>
                        <option>Right</option>
                        <option>Down</option>
                        <option>Left</option>
                        <option>Secret Passage</option>
                    </select>
                    <button type="button" id='move_player_button'>Move</button>
                </p>
                <div id="selection_boxes">
                    <select name="who_select" id="who_select">
                        <option>--Who--</option>
                        <option>Miss Scarlet</option>
                        <option>Colonel Mustard</option>
                        <option>Mrs White</option>
                        <option>Mr Green</option>
                        <option>Mrs Peacock</option>
                        <option>Professor Plum</option>
                    </select>
                    <select name="what_select" id="what_select">
                        <option>--What--</option>
                        <option>revolver</option>
                        <option>knife</option>
                        <option>lead pipe</option>
                        <option>rope</option>
                        <option>candlestick</option>
                        <option>wrench</option>
                    </select>
                    <select name="where_select" id="where_select">
                        <option>--Where--</option>
                        <option>study</option>
                        <option>hall</option>
                        <option>lounge</option>
                        <option>library</option>
                        <option>billiard room</option>
                        <option>dining room</option>
                        <option>conservatory</option>
                        <option>ballroom</option>
                        <option>kitchen</option>
                    </select>
                </div>
                <div>
                    <button id='make_suggestion_button'>Make a Suggestion</button>
                    <button id='make_accusation_button'>Make an Accusation</button>
                </div>
            </td>
            <td style="width: 50%; border: solid 2px">
                <div id="playerCards">Player Cards</div>
            </td>
        </tr>
        <tr>
            <div id='chooseRebutDiv'>
            </div>
            <div>
                <select id='rebutDropDown'>Nothing to rebut</select>
            </div>
        </tr>
        <tr>
            <td colspan="100%" id="syncServerMessages" class="messageDivs"></td>
        </tr>
    </table>
    <button id="startGameForReal" disabled>StartGame</button>
</body>
</html>