<!DOCTYPE html>
<html>
<head>
    <title>Clue-Less</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js></script>
    <script src="../../static/js/inGame.js"></script>
    <link rel="stylesheet" href="../../static/css/default.css">
</head>
<body>
    <script>
    const gameId = {{gameId}};
    const startGame = {{startGame}};
    </script>
    <table class="page-container">
        <tr>
            <td style="text-align: left;">
                <a href="{{ url_for('home') }}">
                    <img
                        id="homebutton"
                        alt="image"
                        src="../../static/assets/home_icon.png"
                        class="header-image button"
                    />
                </a>
            </td>
            <td>
                <h1 class="page-title">Clue-Less</h1>
            </td>
            <td style="text-align: right;">
                <img
                    alt="image"
                    src="../../static/assets/logo.png"
                    class="header-image"
                />
            </td>
        </tr>
    </table>
    <table class="page-container">
        <tr>
            <td>{{gameId}}</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
        </tr>
        <tr>
            <td>21</td>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td>25</td>
            <td>26</td>
        </tr>
        <tr>
            <td>31</td>
            <td>32</td>
            <td>33</td>
            <td>34</td>
            <td>35</td>
            <td>36</td>
        </tr>
        <tr>
            <td>41</td>
            <td>42</td>
            <td>43</td>
            <td>44</td>
            <td>45</td>
            <td>46</td>
        </tr>
        <tr>
            <td>51</td>
            <td>52</td>
            <td>53</td>
            <td>54</td>
            <td>55</td>
            <td>56</td>
        </tr>
        <tr>
            <td>61</td>
            <td>62</td>
            <td>63</td>
            <td>64</td>
            <td>65</td>
            <td>66</td>
        </tr>
        <tr>
            <td colspan="100%" class="messageDivs">
                ---Placeholder--- Location for printing out server messages
                (e.g. player turn, suggestion updates, error messages, etc.)
            </td>
        </tr>
    </table>
</body>
</html>