<!DOCTYPE html>
<html>
<head>
    <title>Clue-Less:</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js></script>
    <script src="static/js/default.js"></script>
    <script src="static/js/asyncComm.js"></script>
    <script src="static/js/syncComm.js"></script>
    <link rel="stylesheet" href="../static/css/default.css">
</head>
<body>
    <table class="page-container">
        <tr>
            <td style="text-align: left;">
                <a href="index.html">
                    <img
                        id="homebutton"
                        alt="image"
                        src="../public/assets/home_icon.png"
                        class="header-image button"
                    />
                </a>
            </td>
            <td>
                <h1 class="page-title">Clue-Less</h1>
            </td>
            <td style="text-align: right;">
                <img
                    alt="image"
                    src="../public/assets/logo.png"
                    class="header-image"
                />
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center;">
                <h2 style="color: maroon;">Available Games:</h2>
            </td>
        </tr>
        <tr>
            <td class="messageDivs" colspan="3" style="text-align: center;">
                ---Placeholder---
                Need to create js function to fill with options based on query, and 
                eventually add functionality to join straight from those filled in values
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center;">
                <a href="join-a-game.html">
                    <button
                        id="view_more_available_games_button"
                        class="button-style"
                    >
                        View More
                    </button>
                </a>
            </td>
        </tr>
    </table>
</body>
</html>